

/*Reset and base styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    line-height: 1.6;
    color: black;
    background-color: #ffffff;
}

.hero-image {
  background: url("../assets/images/bees.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relatiive;
}



/*Reset and base styling*/

header {
background-color: #888888;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}





/*Nav bar styling*/

.navbar{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem;
    display:block
}

 .navbar li a:hover{
    color: #d71717;
 }

 /* Main Section*/

 main{
    padding: 1 rem;
 }
section{
    margin-bottom: 2rem;
}
h1,h2{
    color: #dab844;
    margin-bottom: .5 rem;
    font-size: 1.5rem;
}
h1{
    font-size: 1.8rem;
}


p{
    margin-bottom: 1rem;
}
 /*Footer styling*/

 footer{
    background-color: #888888;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
    position: fixed;
    bottom: 0 ;
    width: 100%;
    
 }

 #social-networks {
    text-align: right;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
